@import "tailwindcss";

@theme {
  --color-primary: #224f24;
  --color-background: #f7f3eb;
  --color-accent: #faebcc;
  --color-highlight: #ff9800;
  --color-foreground: #224f24;
}

@layer base {
  body {
    @apply bg-background text-primary antialiased;
  }

  h1 {
    @apply text-3xl font-bold text-primary;
  }

  h2 {
    @apply text-2xl font-semibold text-primary;
  }

  h3 {
    @apply text-xl font-semibold text-highlight;
  }

  p {
    @apply text-base leading-relaxed text-primary;
  }
}
